<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Task List</h4>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Host</th>
            </tr>
          </thead>
          <tbody *ngIf="assets?.length">
            <tr *ngFor="let asset of assets; let i = index" (click)="onSelect(asset)">
              <td>{{i + 1}}</td>
              <td>{{asset.name}}</td>
              <td>{{asset.description}}</td>
              <td>{{asset.host}}</td>
            </tr>
          </tbody>
          <no-record-found [cols]="4" [collection]="assets"></no-record-found>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Detail Area Title</h4>
      </div>
      <div class="panel-body detail-container" *ngIf="selected; else noselection">
        <h3><small>Asset Detail</small></h3>
        <div class="panel panel-info asset-detail">
          <div class="panel-body">    
            <div class="row">
              <div class="col-md-3"><b>Name: </b></div>
              <div class="col-md-9"><var>{{selected.name}} </var></div>
            </div>   
            <div class="row">
              <div class="col-md-3"><b>Description: </b></div>
              <div class="col-md-9"><var>{{selected.description}} </var></div>
            </div>
            <div class="row">
              <div class="col-md-3"><b>Host: </b></div>
              <div class="col-md-9"><var>{{selected.host}} </var></div>
            </div> 
            <div class="row">
              <div class="col-md-3"><b>OS: </b></div>
              <div class="col-md-9"><var>{{selected.osPlatform.name}} </var></div>
            </div>
            <div class="row">
              <div class="col-md-3"><b>Serial: </b></div>
              <div class="col-md-9"><var>{{selected.serial}} </var></div>
            </div>
            <div class="row">
              <div class="col-md-3"><b>Cost: </b></div>
              <div class="col-md-9"><var>{{selected.cost}} </var></div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noselection>
        <div class="panel-body">
          <h3><small>Select a record on the left to view details</small></h3>
        </div>
      </ng-template>
    </div>
  </div>
</div>